<h1><%= @day.strftime "%Y/%-m/%-d" %></h1>
<ul class="navigation">
  <li>&lt; <a href="<%= url_for(:day, :day => @yesterday.day, :month => @yesterday.month, :year => @yesterday.year) %>">Previous Day</a></li>
  |
  <li><a href="<%= url_for(:day, :day => @tomorrow.day, :month => @tomorrow.month, :year => @tomorrow.year) %>">Next Day</a> &gt;</li>
</ul>

<ul>
  <% @lines.each do |line| %>
    <li id="line-<%= line.id %>" class="line edit"><%= line.text %></li>
    <div id="note-<%= line.id %>" class="note edit"><%= line.note %></div>
  <% end %>

  <% form_tag url_for(:day, :day => @day.day, :month => @day.month, :year => @day.year), :method => 'post', :class => '' do %>
    <li><input type="text" name="line"></li>
    <textarea name="note"></textarea>
    <input type="submit">
  <% end %>
</ul>
